@model IEnumerable<DataLayer.Product_Groups>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th>
            زیر گروه ها
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="group_@(item.GroupID)">
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @if (item.Product_Groups1.Any())
                {
                    <ul>
                        @foreach (var subGroup in item.Product_Groups1)
                        {
                            <li id="group_@(subGroup.GroupID)">
                                @subGroup.GroupTitle     <a class=" btn btn-warning btn-xs" onclick="Edit(@subGroup.GroupID)">
                                ویرایش
                            </a>
                            <a class="btn btn-danger btn-xs" onclick="Delete(@subGroup.GroupID)">
                                حذف
                            </a>
                        </li>
                        }
                    </ul>
                }
            </td>
            <td>
                <a class="btn btn-primary btn-xs" onclick="Create(@item.GroupID)">
                    افزودن زیر گروه جدید
                </a>
                <a class="btn btn-warning btn-xs" onclick="Edit(@item.GroupID)">
                     ویرایش عنوان گروه
                </a>
                <a class="btn btn-danger btn-xs" onclick="Delete(@item.GroupID)">
                     حذف کامل 
                </a>
            </td>
        </tr>
    }

</table>
